<!-- frontend/components/sidebar.html -->
<div class="sidebar">

    <ul>

        <li>

            <a href="index.html">
                Dashboard
            </a>

        </li>

        <li>

            <a href="inbox.html">
                Inbox
            </a>

        </li>

        <li>

            <a href="analytics.html">
                Analytics
            </a>

        </li>

        <li>

            <a href="contacts.html">
                Contacts
            </a>

        </li>

        <li>

            <a href="audit.html">
                Audit
            </a>

        </li>

    </ul>

</div>